#header{
    color: darksalmon;
    font-size: 30px;
    font-family:monospace;
    text-align: center;
}

#body{
    font-size: 12px;
    color:darkseagreen;
    font-family: monospace;
    background-color:antiquewhite;
}
#footer{
    font-size: 8px;
    color: darkcyan;
    font-family: monospace;
    text-align: center;
}
#body1{
    font-size: 18px;
    color: orange;
    font-family: monospace;
    text-align: center;

}

body:after {
  content: "domerent"; 
  font-size: 15em;  
  color: rgba(52, 166, 214, 0.4);
  z-index: 9999;
 
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
    
}

#nav{
    font-size: 12px;
    color:darkseagreen;
    font-family: monospace;
    background-color:antiquewhite;
    border-style: double;
    border-width: medium;
    text-align: center;
    border-color: burlywood;
    
}